:root {
  --widthItemBigBanner: 70vw;
  --heightItemBigBanner: 450px;
  --widthItemBanner: 160px;
  --heightItemBanner: 180px;
}
.Container {
  .side {
    display: grid;
    margin: 50px auto;
    position: relative;
    width: var(--widthItemBigBanner);
    height: var(--heightItemBigBanner);
    .item {
      width: var(--widthItemBanner);
      height: var(--heightItemBanner);
      transition: 0.6s;
      background-size: cover;
      object-fit: cover;
      border-radius: 12px;
      z-index: 10;
      position: absolute;
      display: block;
    }
    .item:nth-child(1),
    .item:nth-child(2) {
      left: 0;
      top: 0;
      transform: translate(0, 0);
      width: 100%;
      height: 100%;
      box-shadow: none;
      border-radius: none;
    }

    .item:nth-child(3) {
      left: 60%;
      top: 50%;
    }
    .item:nth-child(4) {
      top: 50%;
      left: calc(60% + 175px);
    }
    .item:nth-child(5) {
      top: 50%;
      left: calc(60% + 175px * 2);
    }
    .item:nth-child(n + 6) {
      top: 50%;
      left: calc(60% + 175px * 3);
      opacity: 0;
    }
  }
  .Next_prev {
    display: block;
    text-align: center;
    width: 100vw;
    margin-top: -50px;
    .prev_icon,
    .next_icon {
      display: inline-block;
      padding: 10px;
      font-size: 25px;
      color: #2fcbc3;
    }
    .prev_icon:hover,
    .next_icon:hover {
      color: aquamarine;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        #000 56px, #000 0px 24px 80px;
    }
  }
}
