.Container {
  margin-bottom: 550px;
  .side {
    background-color: #fafafa;
    box-shadow: 0px 30px 40px #ccc;
    position: relative;
    display: flex;
    width: 55vw;
    height: 550px;
    .item {
      width: 200px;
      height: 300px;
      transition: 0.5s;
      background-size: cover;
      object-fit: cover;
      border-radius: 18px;
      box-shadow: 0 25px 40px rgb(84, 83, 83);
      z-index: 10;
      position: absolute;
      display: block;
    }
    .item:nth-child(1),
    .item:nth-child(2) {
      width: 55vw;
      height: 550px;
      box-shadow: none;
      border-radius: none;
    }

    .item:nth-child(3) {
      left: 50%;
    }
    .item:nth-child(4) {
      left: calc(50% + 220px);
    }
    .item:nth-child(5) {
      left: calc(50% + 440px);
    }
    .item:nth-child(n + 6) {
      left: calc(50% + 660px);
      opacity: 0;
    }
  }
  .Next_prev {
    position: absolute;
    z-index: 11111;
    bottom: 10px;
    text-align: center;
    width: 100%;
    .prev_icon,
    .next_icon {
      width: 30px;
      height: 30px;
      background-color: #ccc;
      border-radius: 50%;
      display: inline-block;
      margin: 5px;
    }
    .prev,
    .next {
      margin-top: 8px;
    }

    .prev_icon:active,
    .next_icon:active {
      background-color: aquamarine;
    }
  }
}
