#NewPosts {
  .NewPosts {
    max-width: 550px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    #header_NewPosts {
      display: flex;
      justify-content: space-between;
      .header_NewPosts {
        margin: 15px 15px 0 15px;
        .NameUserNewPosts_TimeNewPosts {
          margin-left: 10px;
          font-family: "Open Sans", sans-serif;
          .NameUserNewPosts {
            margin: 0;
            font-weight: 800;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: calc(550px * 2 / 3.5);
          }
          .TimeNewPosts {
            margin: 0;
            font-weight: 600;
          }
        }
      }
      .View_NewPosts {
        margin: 15px 20px 15px 15px;
        .EyeOutlined_NewPosts {
          color: #000;
        }
      }
    }
    .articleTitle_NewPosts {
      max-width: calc(550px - 30px);
      margin: 0 20px;
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        word-wrap: break-word;
      }
    }
    .Img_NewPosts {
      max-height: 550px;
      background-size: contain;
    }
    .Seen_Like_NewPosts {
      margin: 15px;
      display: flex;
      justify-content: space-between;
      .Like_NewPosts {
        display: flex;
        cursor: pointer;
        .img_Like_NewPosts {
          display: inline;
          width: 23px;
          height: 23px;
        }
        p {
          margin: 0 5px;
          color: #6b6b6b;
        }
      }
      .Count_dislike {
        display: flex;
        cursor: pointer;
        color: #6b6b6b;
        .img_DisLike_NewPosts {
          display: inline;
          width: 23px;
          height: 23px;
        }
        p {
          margin: 0 5px;
          color: #6b6b6b;
        }
      }
    }
    .handle_emoticon_NewPosts {
      width: 85%;
      display: flex;
      margin: 0 auto;
      border-top: 1px solid #ccc;
      button {
        border-radius: 5px;
        height: 35px;
        cursor: pointer;
        border: none;
        background-color: #ffffff;
        margin: 5px 8px;
      }
      .handle_Like_NewPosts {
        width: 50%;
        font-family: "Open Sans", sans-serif;
      }
      .handle_Dislike_NewPosts {
        width: 50%;
        font-family: "Open Sans", sans-serif;
      }
      .handle_Like_NewPosts:hover {
        background-color: #cccccc6f;
      }
      .handle_Dislike_NewPosts:hover {
        background-color: #cccccc6f;
      }
    }
    // .form_input {
    //   margin:0 15px 15px 15px 15px ;
    //   form {
    //     display: flex;
    //     justify-content: center;
    //   }
    //   .input_NewPosts {
    //     border-radius: 25px;
    //     border: 1px solid #6b6b6b;
    //     padding-left: 15px;
    //     background-color: #ffffff;
    //     font-size: 14px;
    //     width: 450px;
    //     height: 35px;
    //   }
    // }
  }
}
